.switch
{
    top: 5%;
    position: fixed;
    width: 100%;
    /*border: 2px red solid;*/
    display: flex;
    justify-content: center;
    z-index: 0;

}
.lang
{
    font-family: Arial;
    border: none;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    padding-right:10px  ;
    padding-top: 8px;
background-image: url('../assessts/leave.png');
    background-size: 100%,100%;
    background-repeat:no-repeat ;
    margin:30px ;
    z-index: 1;
    height: 50px;
    width: 100px;
    /*background-color: red;*/
}
.Show
{
    font-weight: bolder;
    letter-spacing: 10px;
    top:80px;
 bottom: 0;
    position: absolute;
}